body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    }

ion-title{
    padding: 0;
    margin: 0px;
}

ion-input{
    padding: auto;
    background-color:rgba(180, 211, 71, 0.678);
}