body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

button {
    display: block;
    margin-top: 15px;
    padding: 10px;
    border: 1px; 
    background-image: radial-gradient(circle at -8.14% 28.84%, #ffff7c 0, #ffff77 10%, #ffff74 20%, #edf571 30%, #d1e86f 40%, #b4d86c 50%, #99c869 60%, #82b968 70%, #6ead66 80%, #5ca266 90%, #4c9866 100%);
}

input{
    padding: 0;
    margin: 10px; 
}